<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <caption>List of books</caption>
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th sortColumn [sortKey]="'volumeInfo.publishedDate'" [data]="books">Published Date</th>
          <th scope="col">Categories</th>
          <th>Rating</th>
          <th scope="col">Publisher</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{book.volumeInfo.title}}</td>
            <td>{{book.volumeInfo.authors.join(' , ')}}</td>
            <td>{{book.volumeInfo.publishedDate}}</td>
            <td>{{book.volumeInfo.categories.join(' , ')}}</td>
            <td>{{book.volumeInfo.ratingsCount}}</td>
            <td>{{book.volumeInfo.publisher}}</td>
            <td width="250"><!-- Button trigger modal -->
              <button type="button" (click)="onViewDetails(book)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Quick Details
              </button>
              <a [routerLink]="'/books/' + book.id" class="btn btn-primary">Details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="bookDetails">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{bookDetails.volumeInfo.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Rating: {{bookDetails.volumeInfo.ratingsCount}}</p>
        <p>Categories: {{bookDetails.volumeInfo.categories.join(' , ')}}</p>
        <p>Description: {{bookDetails.volumeInfo.description}}</p>
        <p>Authors: {{bookDetails.volumeInfo.authors.join(' , ')}}</p>
        <p>Published Date: {{bookDetails.volumeInfo.publishedDate}}</p>
        <p>Publisher: {{bookDetails.volumeInfo.publisher}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

